body
#logo{
	height: 200px;
}

#menu{
	color:white;
}

#menud{
background-color:#fff ;
}

#color-menu{
	background-color: rgb(3,12,189);
}

.placeicon{
	font-family: fontawesome;
}

#titulo{
	font-size: 3em;
	color:white;
}
#imagen{
	border-radius: 50%;
}
#pie{
	background-color: #000;
}
